process { withName: 'BINETTE' { container = 'oras://community.wave.seqera.io/library/binette_gzip:7c802b093c215096' } }
process { withName: 'COMEBIN_RUNCOMEBIN' { container = 'oras://community.wave.seqera.io/library/comebin_gzip_tar:fbab2e380d827df7' } }
process { withName: 'GENOMAD_ENDTOEND' { container = 'oras://community.wave.seqera.io/library/genomad:1.12.0--a6462035ff2ec6ae' } }
process { withName: 'MYLOASM' { container = 'oras://community.wave.seqera.io/library/myloasm:0.6.0--90ec28ab9f040682' } }
process { withName: 'SEMIBIN_CONCATENATEFASTA' { container = 'oras://community.wave.seqera.io/library/semibin:2.4.1--eefeb0dcf2ca104c' } }
process { withName: 'SEMIBIN_MULTIEASYBIN' { container = 'oras://community.wave.seqera.io/library/semibin:2.4.1--eefeb0dcf2ca104c' } }
process { withName: 'SEMIBIN_SINGLEEASYBIN' { container = 'oras://community.wave.seqera.io/library/semibin:2.4.1--eefeb0dcf2ca104c' } }
