process { withName: 'GENOMAD_ENDTOEND' { conda = 'modules/nf-core/genomad/endtoend/.conda-lock/linux_arm64-bd-faad3712d5d168cd_1.txt' } }
process { withName: 'SEMIBIN_CONCATENATEFASTA' { conda = 'modules/nf-core/semibin/concatenatefasta/.conda-lock/linux_arm64-bd-f56bcc59d929ffa0_1.txt' } }
process { withName: 'SEMIBIN_MULTIEASYBIN' { conda = 'modules/nf-core/semibin/singleeasybin/.conda-lock/linux_arm64-bd-f56bcc59d929ffa0_1.txt' } }
process { withName: 'SEMIBIN_SINGLEEASYBIN' { conda = 'modules/nf-core/semibin/singleeasybin/.conda-lock/linux_arm64-bd-f56bcc59d929ffa0_1.txt' } }
