process { withName: 'BINETTE' { container = 'community.wave.seqera.io/library/binette_gzip:3dad8d26ac1fc14c' } }
process { withName: 'COMEBIN_RUNCOMEBIN' { container = 'community.wave.seqera.io/library/comebin_gzip_tar:818f10a274a0d480' } }
process { withName: 'GENOMAD_ENDTOEND' { container = 'community.wave.seqera.io/library/genomad:1.12.0--27836e6e665e84b5' } }
process { withName: 'MYLOASM' { container = 'community.wave.seqera.io/library/myloasm:0.6.0--4ee38265ad9e0a04' } }
process { withName: 'SEMIBIN_CONCATENATEFASTA' { container = 'community.wave.seqera.io/library/semibin:2.4.1--594344a862aee1b8' } }
process { withName: 'SEMIBIN_MULTIEASYBIN' { container = 'community.wave.seqera.io/library/semibin:2.4.1--594344a862aee1b8' } }
process { withName: 'SEMIBIN_SINGLEEASYBIN' { container = 'community.wave.seqera.io/library/semibin:2.4.1--594344a862aee1b8' } }
