process { withName: 'BINETTE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f4/f49d890620286da8d7663f73091c2caa1b7186ae05da2e885ef039f07d628a96/data' } }
process { withName: 'COMEBIN_RUNCOMEBIN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a7/a720950b3444c8a0d7a64618dac6864ea11e15ed25f24a522aa5ff3e5742c9ae/data' } }
process { withName: 'GENOMAD_ENDTOEND' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/83/83e31b082e82e714b01040adf90f865fdd229b6d9d926525b821d207271a3922/data' } }
process { withName: 'MYLOASM' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/83/8369a41d8a2d92487caa26e8604015f6b2cfd48a78fbe732e891f7c5cd1f1861/data' } }
process { withName: 'SEMIBIN_CONCATENATEFASTA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4c/4c049230e87478349b2ecca53156faedfb077df85a4f6deaa8d0b22bd8a975c4/data' } }
process { withName: 'SEMIBIN_MULTIEASYBIN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4c/4c049230e87478349b2ecca53156faedfb077df85a4f6deaa8d0b22bd8a975c4/data' } }
process { withName: 'SEMIBIN_SINGLEEASYBIN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/4c/4c049230e87478349b2ecca53156faedfb077df85a4f6deaa8d0b22bd8a975c4/data' } }
