process { withName: 'GENOMAD_ENDTOEND' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/fc/fcee21b42347c4de44ffe555e6a3e24c929856439a14f255576c94ee3b2ddccb/data' } }
process { withName: 'SEMIBIN_CONCATENATEFASTA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7b/7b2b3f8ee7844ec6f6ab7e89eb0397435eea5ff1c7866f055af6aac5969caf16/data' } }
process { withName: 'SEMIBIN_MULTIEASYBIN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7b/7b2b3f8ee7844ec6f6ab7e89eb0397435eea5ff1c7866f055af6aac5969caf16/data' } }
process { withName: 'SEMIBIN_SINGLEEASYBIN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7b/7b2b3f8ee7844ec6f6ab7e89eb0397435eea5ff1c7866f055af6aac5969caf16/data' } }
