process { withName: 'BINETTE' { conda = 'modules/nf-core/binette/.conda-lock/linux_amd64-bd-3dad8d26ac1fc14c_1.txt' } }
process { withName: 'COMEBIN_RUNCOMEBIN' { conda = 'modules/nf-core/comebin/runcomebin/.conda-lock/linux_amd64-bd-818f10a274a0d480_1.txt' } }
process { withName: 'GENOMAD_ENDTOEND' { conda = 'modules/nf-core/genomad/endtoend/.conda-lock/linux_amd64-bd-27836e6e665e84b5_1.txt' } }
process { withName: 'MYLOASM' { conda = 'modules/nf-core/myloasm/.conda-lock/linux_amd64-bd-4ee38265ad9e0a04_1.txt' } }
process { withName: 'SEMIBIN_CONCATENATEFASTA' { conda = 'modules/nf-core/semibin/concatenatefasta/.conda-lock/linux_amd64-bd-594344a862aee1b8_1.txt' } }
process { withName: 'SEMIBIN_MULTIEASYBIN' { conda = 'modules/nf-core/semibin/singleeasybin/.conda-lock/linux_amd64-bd-594344a862aee1b8_1.txt' } }
process { withName: 'SEMIBIN_SINGLEEASYBIN' { conda = 'modules/nf-core/semibin/singleeasybin/.conda-lock/linux_amd64-bd-594344a862aee1b8_1.txt' } }
