process { withName: 'GENOMAD_ENDTOEND' { container = 'community.wave.seqera.io/library/genomad:1.12.0--faad3712d5d168cd' } }
process { withName: 'SEMIBIN_CONCATENATEFASTA' { container = 'community.wave.seqera.io/library/semibin:2.4.1--f56bcc59d929ffa0' } }
process { withName: 'SEMIBIN_MULTIEASYBIN' { container = 'community.wave.seqera.io/library/semibin:2.4.1--f56bcc59d929ffa0' } }
process { withName: 'SEMIBIN_SINGLEEASYBIN' { container = 'community.wave.seqera.io/library/semibin:2.4.1--f56bcc59d929ffa0' } }
