/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]

    withName: 'BIN_SUMMARY' {
        ext.args   = { "--completeness_score ${params.completeness_score} --contamination_score ${params.contamination_score}" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/bins/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ASSEMBLY:EXTRACT_CIRCLES' {
        ext.prefix = { "${meta.id}.${meta.assembler}" }
        tag        = { "${meta.id}.${meta.assembler}" }
    }

    withName: '.*:ASSEMBLY:GENOME_STATS_ASSEMBLIES' {
        ext.args   = { "-b -a" }
        ext.prefix = { "${meta.id}_${meta.assembler}.stats" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/assembly/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ASSEMBLY:METAMDBG_ASM' {
        ext.args   = { "" }
        ext.prefix = { "${meta.id}_metamdbg" }
        publishDir = [
            path: { "${params.outdir}/assembly/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.fasta.gz"
        ]
    }

    withName: '.*:ASSEMBLY:MYLOASM' {
        ext.args   = { "--hifi" }
        ext.prefix = { "${meta.id}_myloasm" }
        publishDir = [
            path: { "${params.outdir}/assembly/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('assembly_primary.fa') ? "${meta.id}_myloasm.contigs.fasta" : filename },
            pattern: "*.fa"
        ]
    }

    withName: '.*:ASSEMBLY:TIARA_TIARA' {
        ext.prefix = { "${meta.id}_${meta.assembler}" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/assembly/taxonomy/" },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
        ]
    }

    withName: '.*:BINNING:BINNING_TAXVAMB:CENTRIFUGER_CENTRIFUGER' {
        ext.args   = { "" }
        ext.prefix = { "${meta.id}_${meta.assembler}" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/assembly/taxonomy/" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
        ]
    }

    withName: '.*:BINNING:BINNING_TAXVAMB:CENTRIFUGER_LINEAGE' {
        ext.args   = { "" }
        ext.prefix = { "${meta.id}_${meta.assembler}" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/assembly/taxonomy/" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
        ]
    }

    withName: '.*:BINNING:BINNING_TAXVAMB:GAWK_VAMB_DEPTHS' {
        ext.args   = { "" }
        ext.args2  = { "" }
        ext.prefix = { "${meta.id}_${meta.assembler}.minimap2.taxvamb" }
        ext.suffix = { "tsv" }
        tag        = { "${meta.id}_${meta.assembler}" }
    }

    withName: '.*:BINNING:BINNING_TAXVAMB:VAMB_BIN' {
        ext.args   = [
            "-o",
            "--minfasta ${params.minimum_bin_size}"
        ].join(" ").trim()
        ext.prefix = { "${meta.id}_${meta.assembler}_taxvamb" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            [
                path: { "${params.outdir}/bins/fasta/taxvamb" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename?.split('/')?.last() },
                pattern: "**.fna.gz"
            ],
            [
                path: { "${params.outdir}/bins/log/taxvamb" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename ==~ /.*\.fn?a(sta)?(\.gz)$/ ? null : filename }
            ]
        ]
    }

    withName: '.*:BINNING:BINNING_VAMB:GAWK_VAMB_DEPTHS' {
        ext.args   = { "" }
        ext.args2  = { "" }
        ext.prefix = { "${meta.id}_${meta.assembler}.minimap2.vamb" }
        ext.suffix = { "tsv" }
        tag        = { "${meta.id}_${meta.assembler}" }
    }

    withName: '.*:BINNING:BINNING_VAMB:VAMB_BIN' {
        ext.args   = [
            "-o",
            "--minfasta ${params.minimum_bin_size}"
        ].join(" ").trim()
        ext.prefix = { "${meta.id}_${meta.assembler}_vamb" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            [
                path: { "${params.outdir}/bins/fasta/vamb" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename?.split('/')?.last() },
                pattern: "**.fna.gz"
            ],
            [
                path: { "${params.outdir}/bins/log/vamb" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename ==~ /.*\.fn?a(sta)?(\.gz)$/ ? null : filename }
            ]
        ]
    }

    withName: '.*:BINNING:COMEBIN_RUNCOMEBIN' {
        ext.prefix = { "${meta.id}_${meta.assembler}_comebin" }
        tag        = { "${meta.id}_${meta.assembler}" }
        ext.args   = { " -d cpu " }
        publishDir = [
            [
                path: { "${params.outdir}/bins/fasta/comebin" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename?.split('/')?.last() },
                pattern: "**.fa.gz"
            ],
            [
                path: { "${params.outdir}/bins/log/comebin" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename ==~ /.*\.fn?a(sta)?(\.gz)$/ ? null : filename }
            ]
        ]
    }

    withName: '.*:BINNING:FIX_METATOR_BINS' {
        ext.args   = { "-p '\\s.+'" }
        ext.prefix = { "${fastx.getName() - ~/\.fa\.gz$/}.fixed" }
        ext.suffix = { "fa.gz" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/bins/fasta/metator" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.fa.gz"
        ]
    }

    withName: '.*:BINNING:GAWK_FASTATOCONTIG2BIN' {
        ext.prefix = { "${meta.id}_${meta.assembler}_${meta.binner}_contig2bin" }
        ext.suffix = "tsv"
        tag        = { "${meta.id}_${meta.assembler}_${meta.binner}"            }
        publishDir = [
            path: { "${params.outdir}/bins/contig2bin/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BINNING:GAWK_MAXBIN2_DEPTHS' {
        ext.args   = { "" }
        ext.args2  = { "" }
        ext.prefix = { "empty_file" }
        ext.suffix = { "tsv" }
        tag        = { "${meta.id}_${meta.assembler}" }
    }

    withName: '.*:BINNING:MAXBIN2' {
        ext.args   = ""
        ext.prefix = { "${meta.id}_${meta.assembler}_maxbin2" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            [
                path: { "${params.outdir}/bins/fasta/maxbin2" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*.fasta.gz"
            ],
            [
                path: { "${params.outdir}/bins/log/maxbin2" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> (filename.equals('versions.yml') || filename ==~ /.*\.fn?a(sta)?(\.gz)/) ? null : filename }
            ]
        ]
    }

    withName: '.*:BINNING:METABAT2_METABAT2' {
        ext.args   = [
            "--minClsSize ${params.minimum_bin_size}"
        ].join(" ").trim()
        ext.prefix = { "${meta.id}_${meta.assembler}_metabat2" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            [
                path: { "${params.outdir}/bins/fasta/metabat2" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*.fa.gz"
            ],
            [
                path: { "${params.outdir}/bins/log/metabat2" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> (filename.equals('versions.yml') || filename ==~ /.*\.fn?a(sta)?(\.gz)/) ? null : filename }
            ]
        ]
    }

    withName: '.*:BINNING:METATOR_PIPELINE' {
        ext.args   = { params.hic_enzymes ? "--enzyme ${params.hic_enzymes}" : "" }
        ext.prefix = { "${meta.id}_${meta.assembler}" } // metator already appends "_metator" to files
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/bins/log/metator" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename.equals('versions.yml') || filename ==~ /.*\.fn?a(sta)?(\.gz)/) ? null : filename }
        ]
    }

    withName: '.*:BINNING:SEMIBIN_SINGLEEASYBIN' {
        ext.args2   = {[
            "--environment ${params.semibin_environment_model}",
            "--sequencing-type=long_read",
            "--tag-output=${meta.id}_${meta.assembler}_semibin",
        ].join(" ").trim() }
        ext.prefix = { "${meta.id}_${meta.assembler}_semibin" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            [
                path: { "${params.outdir}/bins/fasta/semibin" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename?.split('/')?.last() },
                pattern: "**.fa.gz"
            ],
            [
                path: { "${params.outdir}/bins/log/semibin" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename ==~ /.*\.fn?a(sta)?(\.gz)$/ ? null : filename }
            ]
        ]
    }

    withName: '.*:BINNING:SPLIT_CIRCLES' {
        ext.args   = { "-s1 -P ${meta.id}_${meta.assembler}_circular." }
        ext.prefix = "output"
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/bins/fasta/circular_genomes" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.replaceAll(/^output\//, '') },
            pattern: "**.fasta.gz"
        ]
    }

    withName: '.*:BIN_QC:BINSUMMARIES_RRNA' {
        ext.prefix = { "${meta.id}_${meta.assembler}_${meta.binner}" }
        tag = { "${meta.id}_${meta.assembler}_${meta.binner}" }
        publishDir = [
            path: { "${params.outdir}/bins/qc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BIN_QC:BINSUMMARIES_TRNA' {
        ext.prefix = { "${meta.id}_${meta.assembler}_${meta.binner}" }
        tag = { "${meta.id}_${meta.assembler}_${meta.binner}" }
        publishDir = [
            path: { "${params.outdir}/bins/qc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BIN_QC:CHECKM2_PREDICT' {
        ext.args   = { "--extension gz" }
        ext.prefix = { "${meta.id}" }
        tag        = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/bins/qc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.tsv"
        ]
    }

    withName: '.*:BIN_QC:COVERM_GENOME' {
        ext.args   = { "-m mean --min-read-percent-identity ${params.minimum_hifi_perc_identity}" }
        ext.prefix = { "${meta.id}_${meta.assembler}.${meta.binner}.minimap2.hifi.cov.stats"      }
        tag        = { "${meta.id}_${meta.assembler}.${meta.binner}"                              }
        publishDir = [
            path: { "${params.outdir}/bins/qc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.tsv"
        ]
    }

    withName: '.*:BIN_QC:GENOME_STATS_BINS' {
        ext.args   = { "-b -a" }
        ext.prefix = { "${meta.id}_${meta.assembler}_${meta.binner}.stats" }
        tag        = { "${meta.id}_${meta.assembler}_${meta.binner}" }
        publishDir = [
            path: { "${params.outdir}/bins/qc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BIN_QC:INFERNAL_CMSEARCH' {
        ext.args   = { "--notrunc" }
        ext.prefix = { "${meta.id}_${meta.assembler}.rrna" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/assembly/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.tbl"
        ]
    }

    withName: '.*:BIN_QC:TRNASCAN_SE' {
        ext.args   = { "-B -Q --brief" }
        ext.prefix = { "${meta.id}.${meta.assembler}" }
        tag        = { "${meta.id}.${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/bins/qc/trnascan_se" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BIN_REFINEMENT:BINETTE' {
        ext.args   = { "" }
        ext.prefix = { "${meta.id}_${meta.assembler}_binette" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            [
                path: { "${params.outdir}/bins/fasta/binette" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename?.split('/')?.last() },
                pattern: "**.fa.gz"
            ],
            [
                path: { "${params.outdir}/bins/log/binette" },
                mode: params.publish_dir_mode,
                saveAs: { filename ->
                    filename ==~ /.*(_contig_to_bin\.tsv|\.fn?a(sta)?(\.gz)?)$/ ? null : filename
                }
            ],
            [
                path: { "${params.outdir}/bins/contig2bin" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename ==~ /.*_contig_to_bin\.tsv$/ ? filename : null }
            ]
        ]
    }

    withName: '.*:BIN_REFINEMENT:CONTIG2BINTOFASTA' {
        ext.prefix = { "${meta.id}_${meta.assembler}_${meta.binner}" }
        tag        = { "${meta.id}_${meta.assembler}_${meta.binner}" }
        publishDir = [
            path: { "${params.outdir}/bins/fasta/${meta.binner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BIN_REFINEMENT:DASTOOL_DASTOOL' {
        ext.args   = { "--write_bin_evals" }
        ext.prefix = { "${meta.id}_${meta.assembler}_dastool" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            [
                path: { "${params.outdir}/bins/log/dastool" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename?.endsWith("_DASTool_contig2bin.tsv") ? null : filename }
            ],
            [
                path: { "${params.outdir}/bins/contig2bin" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename?.endsWith("_DASTool_contig2bin.tsv") ? filename : null }
            ]
        ]
    }

    withName: '.*:BIN_REFINEMENT:GAWK_RENAME_BINS' {
        ext.prefix = { "${meta.id}_${meta.assembler}_${meta.binner}_contig2bin" }
        ext.suffix = "tsv"
        ext.args   = { "-v prefix=${meta.id}_${meta.assembler}_${meta.binner}"  }
        tag        = { "${meta.id}_${meta.assembler}_${meta.binner}"            }
        publishDir = [
            path: { "${params.outdir}/bins/contig2bin/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BIN_REFINEMENT:PYRODIGAL' {
        ext.args   = { "-p meta" }
        ext.prefix = { "${meta.id}_${meta.assembler}" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/assembly/annotation/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BIN_TAXONOMY:CSVTK_CONCAT' {
        ext.args   = { "-t"                             }
        ext.prefix = { "${meta.id}.gtdb_merged_summary" }
        tag        = { "${meta.id}"                     }
    }

    withName: '.*:BIN_TAXONOMY:CSVTK_JOIN' {
        ext.args   = { "-Ltf '1;1'"              }
        ext.prefix = { "${meta.id}.gtdb_summary" }
        tag        = { "${meta.id}"              }
        publishDir = [
            path: { "${params.outdir}/bins/taxonomy/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BIN_TAXONOMY:GTDBTK_CLASSIFYWF' {
        ext.args   = [
                "--extension gz",
                params.gtdbtk_use_full_tree ? "--full_tree" : "",
                params.gtdbtk_place_species ? "--place_species" : ""
        ].join(" ").trim()
        ext.prefix = { "${meta.id}" }
        tag        = { "${meta.id}" }
        publishDir = [
                path: { "${params.outdir}/bins/taxonomy/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals(meta.id) ? "gtdbtk" : null }
            ]
    }

    withName: '.*:READ_MAPPING:COVERM_CONTIG' {
        ext.args   = { "-m metabat --min-read-percent-identity ${params.minimum_hifi_perc_identity}" }
        ext.prefix = { "${meta.id}_${meta.assembler}.minimap2.hifi" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/assembly/mapping/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.txt"
        ]
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_FAIDX' {
        tag        = { "${meta.id}_${meta.assembler}" }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_INDEX' {
        tag        = { "${meta.id}_${meta.assembler}" }
        ext.args   = { "-c" }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_MERGEDUP' {
        ext.prefix = { "${meta.id}_${meta.assembler}.hic" }
        tag        = { "${meta.id}_${meta.assembler}" }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:BWAMEM2_INDEX' {
        tag = { "${meta.id}_${meta.assembler}" }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_BWAMEM2ALIGNHIC' {
        ext.args1  = ""
        ext.args2  = "-F0xB00 -nt"
        ext.args3  = "-5SPp"
        ext.args4  = "-mpu"
        ext.args5  = "-q ${params.hic_mapping_minq} -F 0x904"
        ext.args6  = "--write-index -l1"
        ext.prefix = { "${cram.getName()}.${meta.id}_${meta.assembler}.${chunkn}" }
        tag        = { "${cram.getName()}.${meta.id}_${meta.assembler}.${chunkn}" }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_MINIMAP2ALIGNHIC' {
        ext.args1  = ""
        ext.args2  = "-F0xB00 -nt"
        ext.args3  = "-ax sr --no-pairing"
        ext.args4  = "-mpu"
        ext.args5  = "-q ${params.hic_mapping_minq} -F 0x904"
        ext.args6  = "--write-index -l1"
        ext.prefix = { "${cram.getName()}.${meta.id}_${meta.assembler}.${chunkn}" }
        tag        = { "${cram.getName()}.${meta.id}_${meta.assembler}.${chunkn}" }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:MINIMAP2_INDEX' {
        tag        = { "${meta.id}_${meta.assembler}" }
        ext.args = {  "-x sr -I" + Math.ceil(fasta.size()/1e9)+"G" }
    }

    withName: '.*:READ_MAPPING:CRAM_MAP_ILLUMINA_HIC:SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}_${meta.assembler}" }
        tag        = { "${meta.id}_${meta.assembler}" }
    }

    withName: '.*:READ_MAPPING:FASTX_MAP_LONG_READS:FASTXALIGN_MINIMAP2ALIGN' {
        ext.args = { "-x map-hifi" }
        ext.prefix = { "${fastx.getName()}.${meta.id}_${meta.assembler}.${chunkn}" }
        tag        = { "${meta.id}_${meta.assembler}" }
    }

    withName: '.*:READ_MAPPING:FASTX_MAP_LONG_READS:MINIMAP2_INDEX' {
        tag      = { "${meta.id}_${meta.assembler}" }
        ext.args = {  "-x map-hifi -I" + Math.ceil(fasta.size()/1e9)+"G" }
    }

    withName: '.*:READ_MAPPING:FASTX_MAP_LONG_READS:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_FAIDX' {
        tag        = { "${meta.id}_${meta.assembler}" }
    }

    withName: '.*:READ_MAPPING:FASTX_MAP_LONG_READS:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_INDEX' {
        tag        = { "${meta.id}_${meta.assembler}" }
        ext.args   = { "-c" }
    }

    withName: '.*:READ_MAPPING:FASTX_MAP_LONG_READS:BAM_SAMTOOLS_MERGE_MARKDUP:SAMTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_${meta.assembler}.pacbio" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/assembly/mapping/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.bam"
        ]
    }

    withName: '.*:READ_MAPPING:PAIRTOOLS_PARSESORTFILTER' {
        ext.prefix = { "${meta.id}_${meta.assembler}.sorted" }
        tag        = { "${meta.id}_${meta.assembler}" }
        ext.args   = { "" }
        ext.args2  = { "--drop-sam --min-mapq ${params.hic_mapping_minq}" }
        publishDir = [
            path: { "${params.outdir}/assembly/mapping/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.bam"
        ]
    }

    withName: '.*:READ_MAPPING:FILTER_DEPTHS' {
        ext.args   = { "-v" }
        ext.prefix = { "${meta.id}_${meta.assembler}.minimap2.hifi.filtered" }
        tag        = { "${meta.id}_${meta.assembler}" }
        publishDir = [
            path: { "${params.outdir}/assembly/mapping/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.txt"
        ]
    }
}
